@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 14vh;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
}

.container {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-dark-color);
    color: var(--font-light-color);
    display: grid;
    grid-template-areas: 'header header header header header header header header header header header header'
                        'nav nav nav nav nav nav nav nav nav nav nav nav'
                        'left left left main main main main main main right right right'
                        'footer footer footer footer footer footer footer footer footer footer footer footer';
    width: 100vw;
}

header {
    grid-area: header;
    position: fixed;
    padding: 1rem 1rem;
    background-color: var(--background-light-color);
    height: 12vh;
    width: 100%;
    z-index: 1000;
    text-align: center;
}



nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}

a {
    color: var(--font-dark-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5em 1em;
}

section {
    height: 500px;
}

main {
    grid-area: main;
    ;
}

.aboutme {
    padding: 15vh 2vw 5vh 2vw;
    background-color: var(--background-dark-color);
}

.projects {
    background-color: var(--background-light-color-2);
    padding: 5vh 2vw;
}

.contact {
    background-color: var(--background-dark-color);
    padding: 5vh 2vw;
}

.project {
    padding-top: 2vh;
}

#top {
    position: fixed;
    display: flex;
    bottom: 6vh;
    right: 5vw;
    background-color: var(--background-light-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.left {
    grid-area: left;
    background-color: blueviolet;
    padding: 1rem 1rem;
    text-align: center;
}

.right {
    grid-area: right;
    background-color: violet;
    padding: 1rem 1rem;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: var(--background-light-color);
    padding: 1rem 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas: 'header header'
                            'nav nav'
                            'main main'
                            'footer footer';
    
    }

    .left, .right {
        display: none;
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-areas: 'header header header header header header header header header header header header'
                        'nav nav nav nav nav nav nav nav nav nav nav nav'
                        'left left left main main main main main main right right right'
                        'footer footer footer footer footer footer footer footer footer footer footer footer';
    
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-areas: 'header header header header header header header header header header header header'
                        'nav nav nav nav nav nav nav nav nav nav nav nav'
                        'left left left main main main main main main right right right'
                        'footer footer footer footer footer footer footer footer footer footer footer footer';
    
    }
}