* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: 3s;
    animation-duration: calc(30s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    border: 2px solid #4fc3dc;
    border-radius: 25px;
    background-color: #4fc3dc;
    opacity: 0.9;
}

.content .coding {
    display: inline-block;
    width: 48%;
    border-radius: 25px;
    transition: background-color 0.7s ease, animation-delay 0s ease 1.5s;
    margin: 0.5em;
}

.content .coding:hover {
    background-color: #fdfdfd44;
}

.content .coding a {
    text-decoration: none;
}

.content .coding img {
    width: 100%;
    border-radius: 25px;
    padding: 1em;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}